main {
    padding-left: 10%;
    padding-right: 10%;
}

.interest-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 4em;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 3%;
    padding-bottom: 5%;
}

.col1-interest {
    grid-column: 1 / span 1;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
 }
 
 .col2-interest {
     grid-column: 2 / span 1;
     margin: 0;
     border-top-right-radius: var(--border-radius);
     border-bottom-right-radius: var(--border-radius);
 }

.col1-interest:nth-child(1), .col2-interest:nth-child(2) {
    background-color: #ffe3eb;
}

.col1-interest:nth-child(3), .col2-interest:nth-child(4) {
    background-color: #D2EFEF;
}

.col1-interest:nth-child(5), .col2-interest:nth-child(6) {
    background-color: #F8EDB4;
}

.col1-interest:nth-child(7), .col2-interest:nth-child(8) {
    background-color: #C2D6C3;
}

img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: var(--border-radius);
}

 
h1 {
    margin-left:5%;
}

.col1-interest > p, ul, ol, audio {
    margin-left:10%;
}

a {
    color: black;
}

.music{
    margin-right:  5%;
}

.recipe-img {
    border-radius: var(--border-radius);
    margin-top: 10%;
}

@media screen and (max-width: 480px) {
    
    .interest-grid {
        display: block;
        margin-top: 10%;  
    }

    .col1-interest:nth-child(1) {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    div {
        display: inline-block; 
    }

    .col1-interest + .col2-interest {
        margin-bottom:25px;
    }

    .col1-interest {
        border-top-right-radius: var(--border-radius);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .col2-interest {
        border-bottom-left-radius: var(--border-radius);
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        width: 100%;

    }

    audio {
        width: 250px;
    }

    pre {
        display: none;
    }

    iframe {
        height: 250px;
    }

}

@media screen and (max-width: 820px) and (min-width:481px) {
   
    .interest-grid {
        display: block;
        margin-top: 10%;  
    }

    pre {
        display: none;
    }

    div {
        display: inline-block; 
    }

    .col1-interest + .col2-interest{
        margin-bottom:100px;
    }

    .col1-interest:nth-child(1), .col1-interest:nth-child(7) {
        border-bottom-right-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }

    .col1-interest {
        border-top-right-radius: var(--border-radius);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .col2-interest {
        border-bottom-left-radius: var(--border-radius);
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        width: 100%;

    }

    .col1-interest > p, ul, ol, audio {
        margin-left:10%;
        margin-right:10%;
    }

    iframe {
        display:none;
    }


}


  
 

     
