main {
    padding-left: 10%;
    padding-right: 10%;
}

.exp-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    row-gap: 4em;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 3%;
}

.me-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
}

.col1-me {
    grid-column: 1 / span 1;
    padding: 10px;
    display: block;
    border-radius: var(--border-radius);
 }
 
 .col2-me {
     grid-column: 2 / span 1;
     margin: 0;
 }

.col-1, .col-2 {
   background-color: var(--main-bg-color);
}

.exp-img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 5%;
    border-radius: var(--border-radius);
}

.me-img {
    border-radius: var(--border-radius);
}

.col-1 > p, .col2-me {
    font-size: 1.2rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5vw;
    padding-left: 5vw;
    
}

h2, h3 {
    margin-left: 2vw;
}

ul {
    font-size: 1.2rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 5vw;

}

h4 {
    font-size: 10px;
}

td, th {
    padding: 12px 15px;
    background-color: #4d7ea8;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: white;
}

caption {
    font-family: "DM Sans";
    
}

thead, tr {
    background-color: #4d7ea8;
    color: black;
    text-align: center;
}

tbody, tr, td {
    border-bottom: 1px solid #dddddd;
    background-color: #f3f3f3;
}

@media screen and (max-width: 480px) {
    
    .exp-grid {
        display: block;
        margin-top: 3%;  
    }

    div {
        display: inline-block; 
    }

    .me-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
    }

     .exp-img {
        padding: 10px;
        display: block;
        margin-bottom: 5%;
        border-radius: var(--border-radius);
    }

    .col-1 + .col-2 {
        margin-bottom:50px;
    }

    .col1-me {
        display: none;
    }

    thead th {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 10px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
      }

    .skills-table {
        overflow-x: auto;
        width: 300px;
    }

}